<header class="aztec-header">
  <div class="header-container">
    <div class="logo-section">
      <div class="logo-wrapper">
        <img src="logo-jaguar.png" alt="J. Alejandro Garrido Logo" class="logo">
        <div class="holographic-effect"></div>
      </div>
      <div class="text-content">
        <h1 class="name-logo">
          <span class="name-part">J.</span>
          <span class="name-part">Alejandro</span>
          <span class="name-part">Garrido</span>
        </h1>
        <p class="title">UX/UI Designer & Developer</p>
      </div>
    </div>
  </div>
</header>